<li class="call-to-action-1">
  <%= link_to '#', class: 'slide-toggle-class', data: { container: '.call-to-action-1-content', return: 'false' } do %>
    Call Us
  <% end %>

  <div class="call-to-action-1-content call-to-action-content-wrap hide">
    <%= render partial: 'offices/telephone_list', collection: @presented_offices, as: :office_presenter %>
  </div>
</li>

<li class="call-to-action-2">
  <%= link_to '#' do %>
    Request a Callback
  <% end %>
</li>

<li class="call-to-action-3">
  <%= link_to '#' do %>
    Email us
  <% end %>
</li>

<li class="call-to-action-4">
  <%= link_to '#', class: 'slide-toggle-class', data: { container: '.call-to-action-4-content', return: 'false' } do %>
    Our Offices
  <% end %>

  <div class="call-to-action-4-content call-to-action-content-wrap hide">
    <%= render partial: 'offices/address_list', collection: @presented_offices, as: :office_presenter %>
  </div>
</li>

<li class="call-to-action-5">
  <%= @presented_department.leaflet_download if @presented_department.present? %>
  <%= @presented_service.leaflet_download if @presented_service.present? %>
</li>
