<ul class="service-overview-contact-methods">
  <li>
    <%= link_to '#', class: 'call-to-action-1' do %>
      Call Us At

      <div class="hide">
        <div class="call-to-action-content-title">London</div>
        <div class="call-to-action-content">020</div>
      </div>
    <% end %>
  </li>

  <li>
    <%= link_to '#', class: 'call-to-action-2' do %>
      Request a Callback
    <% end %>
  </li>

  <li>
    <%= link_to '#', class: 'call-to-action-3' do %>
      Email us
    <% end %>
  </li>

  <li>
    <%= link_to '#', class: 'call-to-action-4' do %>
      Our Offices
    <% end %>
  </li>

  <li>
    <%= link_to '#', class: 'call-to-action-5' do %>
      Download a leaflet
    <% end %>
  </li>
</ul>
