<div class="service-content-wrap background" data-animation-type="slideInLeft">
  <div class="row" data-equalizer>
    <div class="hide-for-small medium-3 columns" data-equalizer-watch>
      <div class="service-navigation">
        <%= @presented_service.index_image %>

        <%= yield :service_content_navigation %>
      </div>
    </div>

    <div class="small-12 medium-9 columns" data-equalizer-watch>
      <div class="row">
        <div class="small-12 medium-8 columns">
          <div class="service-content">
            <h1><%= @presented_service.name %></h1>

            <%= @presented_service.content %>
          </div>
        </div>

        <div class="small-12 medium-4 columns">
          <div class="team-members-service-overview-link">
            <div class="row collapse">
                <div class="small-12 medium-12 large-8 columns">
                  <%= link_to '#team-members-carousel', class: 'text-link' do %>
                    <div class="team-members-service-overview-title">
                      Talk to our
                    </div>

                    <div class="team-members-service-overview-name">
                      <%= @presented_service.name %> team
                    </div>
                  <% end %>
                </div>

                <div class="hide-for-medium-down large-4 columns text-center">
                  <% if @service.team_members.present? %>
                    <%= link_to '#team-members-carousel' do %>
                      <%= image_tag @service.team_members.first.image.small, class: 'team-members-service-overview-avatar' %>
                    <% end %>
                  <% end %>
                </div>
            </div>
          </div>

          <%= render 'services/contact_sidebar' %>
        </div>
      </div>
    </div>
  </div>
</div>
