<div class="small-12 medium-9 columns" data-equalizer-watch>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <div class="service-overview-content">
        <div class="service-overview-header">
          <h1>
            Divorce
          </h1>

          <%= image_tag 'http://placehold.it/165x160' %>
        </div>

        <p>
          Divorce is the legal process of ending a marriage and is only open to couples who have been married for more than a year. As the law stands, you must prove that your marriage has irretrievably broken down due to one of the following:
        </p>

        <ul>
          <li>
            Your spouse has committed adultery and you find it intolerable to live with them.
          </li>

          <li>
            Your spouse has behaved in a way that you can’t reasonably be expected to live with them.
          </li>

          <li>
            Your spouse has deserted you for more than two years.
          </li>

          <li>
            You have already lived apart for more than two years and your spouse consents to the divorce.
          </li>

          <li>
            You have lived apart continuously for more than five years.
          </li>
        </ul>

        <p>Before the court grants the final divorce paper, the Decree Absolute, they have to be satisfied that all arrangements for any children, such as housing, maintenance, residence and contact are acceptable.</p>

        <p>You can resolve other financial matters before or after Decree Absolute, but you’re only free to remarry after Decree Absolute.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

        <%= link_to 'More on Divorce', '#', class: 'service-overview-read-more' %>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="team-members-service-overview-link">
        <div class="row collapse">
            <div class="small-12 medium-8 columns">
              <%= link_to '#team-members-carousel', class: 'text-link' do %>
                <div class="team-members-service-overview-title">
                  Talk to our
                </div>

                <div class="team-members-service-overview-name">
                  family law team
                </div>
              <% end %>
            </div>

            <div class="small-12 medium-4 columns text-center">
              <%= link_to '#' do %>
                <%= image_tag 'http://placehold.it/61x61', class: 'team-members-service-overview-avatar' %>
              <% end %>
            </div>
        </div>
      </div>

      <%= render 'services/contact_sidebar' %>
    </div>
  </div>
</div>
