<div class="service-overview-content hide" id="<%= service_presenter.slug %>" data-service-name="<%= service_presenter.name %>">
  <div class="service-overview-header">
    <h1>
      <%= service_presenter.name %>
    </h1>

    <%= service_presenter.overview_image %>
  </div>

  <%= service_presenter.summary %>

  <%= service_presenter.read_more_link %>
</div>
