<div class="medium-3 columns service-category-navigation" data-equalizer-watch>
  <ul class="service-category-services-sidebar">
    <li><%= link_to 'Divorce', '#', class: 'active' %></li>
    <li><%= link_to 'Divorce', '#' %></li>
    <li><%= link_to 'Divorce', '#' %></li>
    <li><%= link_to 'Divorce', '#' %></li>
    <li><%= link_to 'Divorce', '#' %></li>
    <li><%= link_to 'Divorce', '#' %></li>
  </ul>
</div>
