<div class="service-download <%= @presented_download.presented_audience.class_name %>" id="downloads">
  <div class="row">
    <div class="medium-4 columns">
      <div class="download-image-wrap">
        <%= @presented_download.index_image %>
      </div>
    </div>

    <div class="medium-8 columns">
      <div class="service-download-content">
        <div class="download-title">
          <%= @presented_download.title %>
        </div>

        <div class="service-download-overview">
          <%= @presented_download.summary %>
          <%= @presented_download.download_button %>
        </div>
      </div>
    </div>
  </div>
</div>
