<div class="collected-article">
  <%= link_to article_presenter.link, title: article_presenter.title, class: 'collected-article-link-wrap invalid-link' do %>
    <%= article_presenter.index_image %>

    <div class="article-title">
      <%= article_presenter.title %>
    </div>

    <div class="article-summary">
      <%= article_presenter.summary %>
    </div>

    <div class="article-detail">
      <%= article_presenter.linked_article_category %>
    </div>

    <div class="article-detail">
      <%= article_presenter.linked_team_member %>
    </div>

    <div class="article-date text-right">
      <%= article_presenter.date(:short) %>
    </div>
  <% end %>
</div>
