<%= content_for :footer do %>
  <script>
    $(document).on('change', '.team-member-carousel-location-search select', function() {
      $(this).parent().submit();
      $('.team-member-carousel-name-search #office_id').val($(this).val());
    });

    $(document).on('keyup', '.team-member-carousel-name-search input', function() {
      $(this).parent().submit();
      $('.team-member-carousel-location-search #team_member_name').val($(this).val());
    });

    function slickSetup() {
      $('.team-members-service-carousel').slick({
        infinte: true,
        dots: false,
        arrows: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 768,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 1025,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
        ]
      });
    }

    slickSetup();
  </script>
<% end %>

<% if @service.team_members.present? %>
  <div class="service-row row">
    <div class="medium-12 columns">
      <div class="team-members-service-carousel-wrap" id="team-members-carousel" data-animation-type="fadeIn">
        <div class="team-members-service-carousel-header">
          <div class="row">
            <div class="medium-6 columns">
              <h5>Meet your specialists:</h5> <span>family law team</span>
            </div>

            <div class="medium-3 columns">
              <%= form_tag team_member_search_service_path, method: :get, class: 'team-member-carousel-location-search', remote: true do %>
                <%= select_tag :office_id, options_for_select(@service.team_members.map(&:offices).map{|x| [x[0].name, x[0].id] }.uniq, params[:office_id]), include_blank: 'All Offices' %>
                <%= hidden_field_tag :team_member_name %>
              <% end %>
            </div>

            <div class="medium-3 columns">
              <%= form_tag team_member_search_service_path, method: :get, class: 'team-member-carousel-name-search', remote: true do %>
                <%= search_field_tag :team_member_name, params[:team_member_name], placeholder: 'People search' %>
                <%= hidden_field_tag :office_id %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="team-members-service-carousel">
          <%= render partial: 'team_members/service_carousel_team_member', collection: @presented_service_team_members, as: :team_member_presenter %>
        </div>
      </div>
    </div>
  </div>
<% end %>
