<div class="hero">
  <div class="hero-content-wrap">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="hero-primary-title" data-animation-type="fadeIn" data-animation-delay="500">Providing legal services</h1>
        <h2 class="hero-secondary-title">
          <span data-animation-type="slideInDown" data-animation-delay="1250">
            For Business
          </span>

          <span class="ampersand" data-animation-type="slideInDown" data-animation-delay="2000">
            &amp;
          </span>

          <span data-animation-type="slideInDown" data-animation-delay="2750">
            For You
          </span>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="hero-department-wrap"  data-equalizer="hero-departmens">
  <div class="row collapse">
    <div class="small-12 medium-4 columns">
      <div class="hero-department first" data-equalizer-watch="hero-departmens" data-animation-type="slideInDown" data-animation-delay="1250">
        <div class="state-normal">
          <div class="department-type">For Business</div>

          <h3>Business Legal Services</h3>

          <p>
            Providing expert legal advice across a broad range of business related legal services for companies of all sizes.
          </p>
      </div>

        <div class="state-hover hide">
          <div class="department-type">For Business</div>

          <ul>
            <li><%= link_to 'Corporate / Commercial / Banking', '#' %></li>
            <li><%= link_to 'Employment Law', '#' %></li>
            <li><%= link_to 'Real Estate', '#' %></li>
            <li><%= link_to 'Dispute Resolution', '#' %></li>
            <li><%= link_to 'Insolvency and Corporate Recovery', '#' %></li>
            <li><%= link_to 'Education Services', '#' %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="hero-department second" data-equalizer-watch="hero-departmens" data-animation-type="slideInDown" data-animation-delay="2000">
        <div class="state-normal">
          <div class="department-type">For You</div>

          <h3>Personal Legal Services</h3>

          <p>
            Let our highly experienced and approachable team assist you to resolve any personal legal requirement you have.
          </p>
      </div>

        <div class="state-hover hide">
          <div class="department-type">For You</div>

          <ul>
            <li><%= link_to 'Corporate / Commercial / Banking', '#' %></li>
            <li><%= link_to 'Employment Law', '#' %></li>
            <li><%= link_to 'Real Estate', '#' %></li>
            <li><%= link_to 'Dispute Resolution', '#' %></li>
            <li><%= link_to 'Insolvency and Corporate Recovery', '#' %></li>
            <li><%= link_to 'Education Services', '#' %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="hero-department third" data-equalizer-watch="hero-departmens" data-animation-type="slideInDown" data-animation-delay="2750">
        <div class="state-normal">
          <div class="department-type">For Injury Claims</div>

          <h3>Personal Injury Services</h3>

          <p>
            Our NO WIN, NO FEE Personal Injury Law service provides expert legal advice without any upfront costs.
          </p>
      </div>

        <div class="state-hover hide">
          <div class="department-type">For Injury Claims</div>

          <ul>
            <li><%= link_to 'Corporate / Commercial / Banking', '#' %></li>
            <li><%= link_to 'Employment Law', '#' %></li>
            <li><%= link_to 'Real Estate', '#' %></li>
            <li><%= link_to 'Dispute Resolution', '#' %></li>
            <li><%= link_to 'Insolvency and Corporate Recovery', '#' %></li>
            <li><%= link_to 'Education Services', '#' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
