<div class="hero">
  <div class="hero-content-wrap">
    <div class="row">
      <div class="small-12 columns">
        <h1 class="hero-primary-title">Providing legal services</h1>
        <h2 class="hero-secondary-title">For Business <span class="ampersand">&amp;</span> For You</h2>
      </div>
    </div>
  </div>
</div>

<div class="hero-department-wrap">
  <div class="row collapse">
    <div class="small-12 medium-4 columns">
      <div class="hero-department first">
        <div class="state-normal">
          <div class="department-type">For Business</div>

          <h3>Business Legal Services</h3>

          <p>
            Providing expert legal advice across a broad range of business related legal services for companies of all sizes.
          </p>
      </div>

        <div class="state-hover hide">
          <div class="department-type">For Business</div>

          <ul>
            <li><%= link_to 'Corporate / Commercial / Banking', '#' %></li>
            <li><%= link_to 'Employment Law', '#' %></li>
            <li><%= link_to 'Real Estate', '#' %></li>
            <li><%= link_to 'Dispute Resolution', '#' %></li>
            <li><%= link_to 'Insolvency and Corporate Recovery', '#' %></li>
            <li><%= link_to 'Education Services', '#' %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="hero-department second">
        <div class="state-normal">
          <div class="department-type">For You</div>

          <h3>Personal Legal Services</h3>

          <p>
            Providing expert legal advice across a broad range of business related legal services for companies of all sizes.
          </p>
      </div>

        <div class="state-hover hide">
          <div class="department-type">For Business</div>

          <ul>
            <li><%= link_to 'Corporate / Commercial / Banking', '#' %></li>
            <li><%= link_to 'Employment Law', '#' %></li>
            <li><%= link_to 'Real Estate', '#' %></li>
            <li><%= link_to 'Dispute Resolution', '#' %></li>
            <li><%= link_to 'Insolvency and Corporate Recovery', '#' %></li>
            <li><%= link_to 'Education Services', '#' %></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="small-12 medium-4 columns">
      <div class="hero-department third">
        <div class="state-normal">
          <div class="department-type">For Injury Claims</div>

          <h3>Personal Injury Services</h3>

          <p>
            Providing expert legal advice across a broad range of business related legal services for companies of all sizes.
          </p>
      </div>

        <div class="state-hover hide">
          <div class="department-type">For Business</div>

          <ul>
            <li><%= link_to 'Corporate / Commercial / Banking', '#' %></li>
            <li><%= link_to 'Employment Law', '#' %></li>
            <li><%= link_to 'Real Estate', '#' %></li>
            <li><%= link_to 'Dispute Resolution', '#' %></li>
            <li><%= link_to 'Insolvency and Corporate Recovery', '#' %></li>
            <li><%= link_to 'Education Services', '#' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
