<section class="hero">
  <div class="row">
    <div class="small-12 columns">
      <h1>Providing legal services</h1>
      <h2>For Business <span class="ampersand">&amp;</span> For You</h2>
    </div>
  </div>

  <div class="row collapse">
    <div class="small-12 medium-4 columns department first">
      <%= link_to '#', class: 'state-normal' do %>
        <div class="department-type">For Business</div>

        <h3>Business Legal Services</h3>

        <p>
          Providing expert legal advice across a broad range of business related legal services for companies of all sizes.
        </p>
      <% end %>

      <%= link_to '#', class: 'state-hover hide' do %>
        <div class="department-type">For Business</div>

        <ul>
          <li><%= link_to 'Corporate / Commercial / Banking', '#' %></li>
          <li><%= link_to 'Employment Law', '#' %></li>
          <li><%= link_to 'Real Estate', '#' %></li>
          <li><%= link_to 'Dispute Resolution', '#' %></li>
          <li><%= link_to 'Insolvency and Corporate Recovery', '#' %></li>
          <li><%= link_to 'Education Services', '#' %></li>
        </ul>
      <% end %>
    </div>

    <div class="small-12 medium-4 columns department second">

    </div>

    <div class="small-12 medium-4 columns department third">

    </div>
  </div>
</section>
