<%= content_for :footer do %>
  <script>
    $('.testimonials').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      infinte: true,
      dots: true,
      arrows: false
    });

    $('.tweets').slick({
      autoplay: true,
      autoplaySpeed: 2000,
      infinte: true,
      dots: true,
      arrows: false
    });
  </script>
<% end %>

<div class="home-content-block" data-animation-type="slideInLeft">
  <div class="row collapse"  data-equalizer="marketing">
    <section class="small-12 medium-3 columns" data-equalizer-watch="marketing">
      <div class="content-block">
        <div class="text-center">
          <h6>What People Say</h6>
        </div>

        <%= image_tag 'layout/testimonials/quote-open.png', class: 'quote-open', alt: '' %>
        <div class="testimonials">
          <%= render 'testimonials/testimonial' %>
          <%= render 'testimonials/testimonial' %>
        </div>
        <%= image_tag 'layout/testimonials/quote-close.png', class: 'quote-close', alt: '' %>
      </div>
    </section>

    <section class="small-12 medium-6 columns" data-equalizer-watch="marketing">
      <div class="marketing-campaign">
        <%= render 'marketing_campaign/home_marketing_campaign' %>
      </div>
    </section>

    <section class="small-12 medium-3 columns" data-equalizer-watch="marketing">
      <div class="content-block text-center">
        <%= link_to (image_tag 'components/icons/twitter.png', alt: 'Twitter'), '#', class: 'twitter-bird' %>

        <%= link_to global_site_settings['Twitter'], '#', class: 'twitter-username' %>

        <div class="tweets">
          <%= render 'shared/twitter' %>
        </div>
      </div>
    </section>
  </div>
</div>
