<div class="small-12 medium-4 columns">
  <div class="hero-department <%= cycle 'first', 'second', 'third' %>" data-equalizer-watch="hero-departmens" data-animation-type="slideInDown" data-animation-delay="1250">
    <div class="state-normal">
      <div class="department-type">For <%= department_presenter.name %></div>

      <h3><%= department_presenter.name %> Legal Services</h3>

      <%= department_presenter.summary %>
  </div>

    <div class="state-hover hide">
      <div class="department-type">For <%= department_presenter.name %></div>

      <ul>
        <%= render partial: 'service_categories/service_category', collection: department_presenter.service_categories, as: :service_category_presenter %>
      </ul>
    </div>
  </div>
</div>
