<div class="large-12 columns">
  <div class="service-calendar-wrap" id="events">
    <h6>Events</h6>

    <div class="row collapse">
      <div class="medium-6 columns">
        <div class="service-event-focus" data-animation-type="slideInLeft">
          <%= link_to @presented_service_events.first.link, class: 'service-event-link' do %>
            <div class="service-event-date focus">
              <strong><%= @presented_service_events.first.start_day %></strong>/<%= @presented_service_events.first.start_month %>
            </div>

            <div class="service-event-focus-title">
              <%= @presented_service_events.first.title %>
            </div>

            <div class="service-event-overview">
              <%= @presented_service_events.first.summary %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="medium-6 columns service-events-list">
        <div class="row collapse">
          <%= render partial: 'events/service_calendar_event', collection: @presented_service_events[1..2], as: :event_presenter %>
        </div>

        <div class="row collapse">
          <%= render partial: 'events/service_calendar_event', collection: @presented_service_events[3..4], as: :event_presenter %>
        </div>
      </div>
    </div>
  </div>
</div>
