<div class="service-content-tab-content <%= 'hide' if case_study_presenter_counter > 0 %>" id="tab-<%= case_study_presenter_counter %>">
  <div class="row">
    <div class="medium-12 columns">
      <div class="service-content-tab-content-type case-study">
        Case Study
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-12 large-8 columns">
      <h2><%= case_study_presenter.title %></h2>

      <%= case_study_presenter.summary %>

      <%= case_study_presenter.read_more_link %>
    </div>

    <div class="hide-for-medium-down large-4 columns">
      <%= case_study_presenter.linked_index_image %>
    </div>
  </div>
</div>
