<div class="content-categories-sidebar">
  <div class="row collapse">
    <div class="small-8 show-for-medium-down columns">
      <%= link_to octicon('book') + 'Manage Content',
          '#',
          class: 'content-categories-toggle toggle-class',
          data: {
            class: 'content-categories-toggle-visiblity',
            container: '.content-categories, .content-categories-toggle',
            return: 'true'
          } %>
    </div>
    <div class="small-4 show-for-medium-down columns">
      <%= link_to logout_path, class: 'logout-link' do %>
        <%= octicon('sign-in') %> Logout
      <% end %>
    </div>
  </div>

  <div class="row collapse">
    <div class="large-12 small-8 left content-categories columns">
      <div class="content-category-type">
        Manage Your Content
      </div>

      <ul id="modules" class="content-category-list">
        <%= module_link(content: "Site Navigation", model: Optimadmin::MenuItem, path: menu_items_path) %>
      </ul>

      <div class="content-category-type">
        Manage Inpage Content
      </div>

      <ul class="content-category-list">
        <ul class="content-category-list">
          <%= module_link(model: Award, path: awards_path) %>
          <%= module_link(content: "Business Partners", model: BusinessPartner, path: business_partners_path) %>
          <%= module_link(model: Testimonial, path: testimonials_path) %>
        </ul>
      </ul>

      <% if can? :manage, Service %>
        <div class="content-category-type">
          Manage Services
        </div>

        <ul class="content-category-list">
          <ul class="content-category-list">
            <%= module_link(model: Department, path: departments_path) %>
            <%= module_link(model: Service, path: services_path) %>
            <%= module_link(content: "Service Categories", model: ServiceCategory, path: service_categories_path) %>
          </ul>
        </ul>
      <% end %>

      <% if can? :manage, Article %>
        <div class="content-category-type">
          Manage Articles
        </div>

        <ul class="content-category-list">
          <ul class="content-category-list">
            <%= module_link(model: Article, path: articles_path) %>
            <%= module_link(content: "Article Categories", model: Article::Category, path: article_categories_path) %>
          </ul>
        </ul>
      <% end %>

      <% if can? :manage, Event %>
        <div class="content-category-type">
          Manage Events
        </div>

        <ul class="content-category-list">
          <ul class="content-category-list">
            <%= module_link(model: Event, path: events_path) %>
            <%= module_link(content: "Event Categories", model: Event::Category, path: event_categories_path) %>
            <%= module_link(content: "Event Locations", model: Event::Location, path: event_locations_path) %>
          </ul>
        </ul>
      <% end %>

      <% if can? :manage, TeamMember %>
        <div class="content-category-type">
          Manage Team Members
        </div>

        <ul class="content-category-list">
          <ul class="content-category-list">
            <%= module_link(content: "Team Members", model: TeamMember, path: team_members_path) %>
            <%= module_link(content: "Team Member Roles", model: TeamMember::Role, path: team_member_roles_path) %>
          </ul>
        </ul>
      <% end %>

      <div class="content-category-type">
        Manage Offices
      </div>

      <ul class="content-category-list">
        <ul class="content-category-list">
          <%= module_link(model: Office, path: offices_path) %>
          <%= module_link(content: "Office Locations", model: Office::Location, path: office_locations_path) %>
        </ul>
      </ul>
    </div>
  </div>
</div>
