<%= render 'optimadmin/shared/header/main_title', title: 'Manage Event Categories' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Event Category', object: Event::Category, path: new_event_category_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!--
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @event_categories.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">



      <% # ADD TWO TO THE TITLE LARGE COLUMN SIZE BELOW TO ACCOUNT FOR NO IMAGE %>



      <%= list_item 'large-6 small-8' do %>
        Title
      <% end %>




    <%= list_item { 'Display' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <!-- <div class='module-sortable' data-module="EventCategory"> -->
  <%= render partial: 'event_category', collection: @event_categories, as: :event_category_presenter %>
  <!-- </div> -->
  <%= paginate @event_categories %>
</div>
