<section class="service-wrap">
  <div class="row" data-equalizer="service-overview-top">
    <div class="small-6 columns" data-equalizer-watch>
      <div class="service-overview-title-block-name">
        <%= @presented_department.linked_name %>
        /
        <%= @presented_service.name %>
      </div>
    </div>

    <div class="small-6 columns" data-equalizer-watch>
      <%= render 'services/related_services' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= render 'services/header' %>

      <%# if @service.pricing_bands.present? %>
        <div class="service-row row">
          <div class="small-12 columns">
            <div class="pricing-content">
              <h2 class="widget-title">Simple, upfront costs</h2>

              <div class="row">
                <%= render partial: 'pricing_bands/pricing_band_1' %>
                <%= render partial: 'pricing_bands/pricing_band_2' %>
                <%= render partial: 'pricing_bands/pricing_band_3' %>
              </div>

              <p class="pricing-band-cta">
                To discuss your options, call <strong>0835 696 8845</strong> now.
              </p>

              <p class="pricing-band-small-print">
                Before we do any work outside of the fixed price quoted, we will
                notify you and agree how any additional work will be charged.
              </p>
            </div>
          </div>
        </div>
      <%# end %>

      <div class="service-row row collapse" data-equalizer="service-resources">
        <div class="medium-<%= @service.downloads.present? && @service.downloads.size == 1 ? '12 full-width-download' : '8' %> columns" data-animation-type="slideInLeft" data-equalizer-watch>
          <%= render partial: 'downloads/service_download' if @service.downloads.present? %>
        </div>

        <% if @service.downloads.present? && @service.downloads.size > 1 %>
          <div class="medium-4 columns" data-animation-type="slideInRight" data-equalizer-watch>
            <div class="service-downloads-list <%= @presented_download.presented_audience.class_name %>">
              <h3 class="service-downloads-list-title">More Guides</h3>

              <ul class="service-downloads-list-items">
                <%= render partial: 'downloads/service_download_list', collection: @presented_downloads, as: :download_presenter if @service.downloads.present? %>
              </ul>

              <%= link_to 'More', '#', class: 'invalid-link service-downloads-more' %>
            </div>
          </div>
        <% end %>
      </div>



      <div class="service-row row">
        <div class="medium-6 columns">
          <div class="frequently-asked-questions">
            <h2 class="widget-title">
              Latest FAQs
            </h2>

            <div class="frequently-asked-questions-list">
              <%= render partial: 'frequently_asked_questions/frequently_asked_question', collection: @presented_service_faqs, as: :frequently_asked_question_presenter %>
            </div>
          </div>
        </div>
      </div>

      <div class="service-row row" data-equalizer="additional-content">
        <%= render 'services/content_tabs' if @presented_case_studies.present? %>

        <% if @service.testimonials.present? %>
          <div class="medium-6 columns" id="testimonials" data-animation-type="slideInLeft" data-animation-delay="750" data-equalizer-watch="service-resources">
            <div class="service-testimonial">
              <%= render partial: 'testimonials/service_testimonial', collection: @presented_service_testimonials, as: :testimonial_presenter %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="service-row row" data-equalizer="statistics">
        <div class="medium-6 columns">
          <%= render 'services/people_helped' if @presented_service.has_people_helped_widget.present? %>
        </div>

        <%= render 'services/service_video' if @presented_video.present? && @presented_service.has_people_helped_widget.present? %>
        <%= render 'services/service_video_full' if @presented_video.present? && @presented_service.has_people_helped_widget.blank? %>
      </div>

      <div class="service-row row"  data-equalizer="updates">
        <div class="large-8 columns"  data-equalizer-watch="updates">
          <%= render 'services/activity_stream' if @presented_service_articles.present? %>
        </div>

        <div class="large-4 columns"  data-equalizer-watch="updates">
          <div class="service-twitter-wrap">
            <%= render partial: 'services/twitter' %>
          </div>
        </div>
      </div>

      <%= render 'team_members/service_carousel' %>

      <div class="service-event-focus-wrap">
        <div class="row">
          <div class="large-12 columns">
            <%= render 'services/service_awards' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'services/call_to_action' %>
