<section class="service-wrap">
  <div class="row" data-equalizer="service-overview-top">
    <div class="small-6 columns" data-equalizer-watch>
      <div class="service-overview-title-block-name">
        <%= @presented_department.linked_name %>
        /
        <%= @presented_service.name %>
      </div>
    </div>

    <div class="small-6 columns" data-equalizer-watch>
      <%= render 'services/related_services' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= render 'services/header' %>

      <div class="service-row row">
        <div class="small-12 columns">
          <div class="pricing-content">
            <h2>Pricing here</h2>
          </div>
        </div>
      </div>

      <div class="service-row row" data-equalizer="service-resources">
        <div class="medium-8 columns" data-animation-type="slideInLeft">
          <%= render partial: 'downloads/service_download' if @service.downloads.present? %>
        </div>

        <div class="medium-4 columns" data-animation-type="slideInRight">
          <ul class="service-downloads">
            <%= render partial: 'downloads/service_download_list', collection: @presented_downloads, as: :download_presenter if @service.downloads.present? %>
          </ul>
        </div>
      </div>

      <div class="service-row row" data-equalizer="additional-content">
        <%= render 'services/content_tabs' if @presented_case_studies.present? %>

        <div class="medium-6 columns" id="testimonials" data-animation-type="slideInLeft" data-animation-delay="750" data-equalizer-watch="service-resources">
          <div class="service-testimonial">
            <%= render partial: 'testimonials/service_testimonial', collection: @presented_service_testimonials, as: :testimonial_presenter %>
          </div>
        </div>
      </div>

      <div class="service-row row">
        <div class="medium-12 columns">
          <div class="frequently-asked-questions">
            <%= render partial: 'frequently_asked_questions/frequently_asked_question', collection: @presented_service_faqs, as: :frequently_asked_question_presenter %>
          </div>
        </div>
      </div>

      <div class="service-row row" data-equalizer="statistics">
        <div class="medium-6 columns">
          <%= render 'services/people_helped' if @presented_service.has_people_helped_widget.present? %>
        </div>

        <%= render 'services/service_video' if @presented_video.present? && @presented_service.has_people_helped_widget.present? %>
        <%= render 'services/service_video_full' if @presented_video.present? && @presented_service.has_people_helped_widget.blank? %>
      </div>

      <div class="service-row row"  data-equalizer="updates">
        <div class="large-8 columns"  data-equalizer-watch="updates">
          <%= render 'services/activity_stream' if @presented_service_articles.present? %>
        </div>

        <div class="large-4 columns"  data-equalizer-watch="updates">
          <div class="service-twitter-wrap">
            <%= render partial: 'services/twitter' %>
          </div>
        </div>
      </div>

      <%= render 'team_members/service_carousel' %>

      <div class="service-event-focus-wrap">
        <div class="row">
          <div class="large-12 columns">
            <%= render 'services/service_awards' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'services/call_to_action' %>
