<% # Conveyancing %>

<%= content_for :footer do %>
  <script>
    $('.service-testimonial').slick({
      fade: true,
      infinte: true,
      dots: false,
      arrows: false,
      autoplay: true,
      autoplaySpeed: 5000
    });
  </script>
<% end %>

<% content_for :service_content_navigation do %>
  <ul class="service-navigation-page-links" id="sidebar-links">
    <%= content_tag(:li, (link_to 'Downloads', '#downloads', class: 'smooth-scroll')) if @service.downloads.present? %>
    <%= content_tag(:li, (link_to 'Frequently Asked Questions', '#case-studies', class: 'smooth-scroll')) if @service.frequently_asked_questions.present? %>
    <%= content_tag(:li, (link_to 'Case Studies', '#case-studies', class: 'smooth-scroll')) if @service.case_studies.present? %>
    <%= content_tag(:li, (link_to 'Testimonials', '#testimonials', class: 'smooth-scroll')) if @service.testimonials.present? %>
    <%= content_tag(:li, (link_to 'Videos', '#videos', class: 'smooth-scroll')) if @service.videos.present? %>
    <%= content_tag(:li, (link_to 'Meet your Specialists', '#team-members-carousel', class: 'smooth-scroll')) if @service.team_members.present? %>
    <%= content_tag(:li, (link_to 'People Helped', '#people-helped', class: 'smooth-scroll')) %>
    <%= content_tag(:li, (link_to 'Tweets', '#twitter', class: 'smooth-scroll')) %>
    <!-- <li><%#= link_to 'Latest Events', '#events' %></li> -->
  </ul>
<% end %>

<section class="service-wrap">
  <div class="row" data-equalizer="service-overview-top">
    <div class="small-6 columns" data-equalizer-watch>
      <div class="service-overview-title-block-name">
        <%= @presented_department.linked_name %>
        /
        <%= @presented_service.name %>
      </div>
    </div>

    <div class="small-6 columns" data-equalizer-watch>
      <%= render 'services/related_services' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= render 'services/header' %>

      <div class="service-row row">
        <div class="small-12 columns">
          <%= render 'services/conveyancing_quote' %>
        </div>
      </div>

      <div class="service-row row">
        <section class="small-12 columns">
          <div class="homepage-downloads">
            <div class="row collapse" data-equalizer="downloads">
              <%= render partial: 'downloads/homepage', collection: @presented_all_downloads, as: :download_presenter %>

               <div class="medium-3 columns <%= 'end' if @presented_all_downloads.present? && @presented_all_downloads.size < 3 %>" data-equalizer-watch="downloads">
                 <div class="view-all-downloads">
                   <div class="view-all-title">
                     View all of our
                   </div>

                   <div class="view-all-category">
                     <%= @presented_download.category_name_link(@presented_download.category_name.pluralize) if @service.featured_download.present? && @presented_download.category_name.present? %>
                     <%= link_to 'Downloads', '#', class: 'invalid-link' unless @service.featured_download.present? && @presented_download.category_name.present? %>
                   </div>
                 </div>
               </div>
            </div>
          </div>
        </section>
      </div>

      <div class="service-row row" data-equalizer="additional-content">
        <div class="medium-<%= @service.case_studies.present? ? '6' : '12' %> columns">
          <div class="frequently-asked-questions"  data-equalizer-watch="additional-content">
            <h2 class="widget-title">
              Latest FAQs
            </h2>

            <div class="frequently-asked-questions-list">
              <%= render partial: 'frequently_asked_questions/frequently_asked_question', collection: @presented_service_faqs, as: :frequently_asked_question_presenter %>
            </div>
          </div>
        </div>

        <%= render 'services/content_tabs' if @presented_case_studies.present? %>
      </div>

      <div class="service-row row">
        <% if @service.testimonials.present? %>
          <div class="medium-6 columns" data-animation-type="slideInLeft" data-animation-delay="750" data-equalizer-watch="statistics">
            <div class="service-testimonial" id="testimonials">
              <%= render partial: 'testimonials/service_testimonial', collection: @presented_service_testimonials, as: :testimonial_presenter %>
            </div>
          </div>
        <% end %>

        <%= render 'services/service_video' if @presented_video.present? && @presented_service.has_people_helped_widget.present? %>
      </div>

      <%= render 'team_members/service_carousel' %>

      <div class="service-row row" data-equalizer="articles-and-widgets">
        <div class="widget-activity-stream large-8 columns" data-equalizer-watch="articles-and-widgets">
          <%= render 'services/activity_stream' if @presented_service_articles.present? %>
        </div>

        <div class="large-4 columns"  data-equalizer-watch="articles-and-widgets">
          <div class="widget-row">
            <%= render partial: 'services/people_helped_small' %>
          </div>

          <div class="service-twitter-wrap">
            <div data-animation-type="slideInLeft" data-animation-delay="500">
              <div class="service-twitter" id="twitter">
                <p>
                  What is conveyancing?: <%= link_to 'https://z.co/MOi17hz6HI', '#' %>
                  The answer to one of the most significant aspects of property buying.
                </p>

                <span class="service-twitter-username">21 hours ago</span>
              </div>
            </div>
            <%#= render partial: 'services/twitter' %>
          </div>
        </div>
      </div>

      <div class="service-event-focus-wrap">
        <div class="service-row row">
          <div class="large-12 columns">
            <%= render 'services/service_awards' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'services/call_to_action' %>
