<section class="service-wrap">
  <div class="row" data-equalizer="service-overview-top">
    <div class="small-6 columns" data-equalizer-watch>
      <div class="service-overview-title-block-name">
        <%= @presented_department.linked_name %>
        /
        <%= @presented_service.name %>
      </div>
    </div>

    <div class="small-6 columns" data-equalizer-watch>
      <%= render 'services/related_services' %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= render 'services/header' %>

      <div class="service-row row">
        <div class="small-12 columns">
          <%= render 'services/conveyancing_quote' %>
        </div>
      </div>

      <div class="service-row row">
        <section class="small-12 columns">
          <div class="homepage-downloads">
            <div class="row collapse" data-equalizer="downloads">
              <%= render partial: 'downloads/homepage', collection: @presented_all_downloads, as: :download_presenter %>

               <div class="medium-3 columns <%= 'end' if @presented_all_downloads.size < 3 %>" data-equalizer-watch="downloads">
                 <div class="view-all-downloads">
                   <div class="view-all-title">
                     View all of our
                   </div>

                   <div class="view-all-category">
                     <%= @presented_download.category_name_link(@presented_download.category_name.pluralize) %>
                   </div>
                 </div>
               </div>
            </div>
          </div>
        </section>
      </div>

      <div class="service-row row">
        <div class="medium-6 columns">
          <div class="frequently-asked-questions">
            <h2 class="widget-title">
              Latest FAQs
            </h2>

            <div class="frequently-asked-questions-list">
              <%= render partial: 'frequently_asked_questions/frequently_asked_question', collection: @presented_service_faqs, as: :frequently_asked_question_presenter %>
            </div>
          </div>
        </div>

        <%= render 'services/content_tabs' if @presented_case_studies.present? %>
      </div>

      <div class="service-row row">
        <div class="medium-6 columns" id="testimonials" data-animation-type="slideInLeft" data-animation-delay="750" data-equalizer-watch="service-resources">
          <div class="service-testimonial" id="testimonials">
            <%= render partial: 'testimonials/service_testimonial', collection: @presented_service_testimonials, as: :testimonial_presenter %>
          </div>
        </div>

        <%= render 'services/service_video' if @presented_video.present? && @presented_service.has_people_helped_widget.present? %>
      </div>

      <%= render 'team_members/service_carousel' %>

      <div class="service-row row">
        <div class="large-8 columns">
          <%= render 'services/activity_stream' if @presented_service_articles.present? %>
        </div>

        <div class="large-4 columns">
          <div class="widget-row">
            <%= render partial: 'services/people_helped_small' %>
          </div>

          <div class="service-twitter-wrap">
            <%= render partial: 'services/twitter' %>
          </div>
        </div>
      </div>

      <div class="service-event-focus-wrap">
        <div class="service-row row">
          <div class="large-12 columns">
            <%= render 'services/service_awards' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'services/call_to_action' %>
