<section class="service-wrap">
  <%= render 'shared/breadcrumbs' %>
  <%= render 'service_categories/header' %>
</section>

<div class="row">
  <div class="small-12 columns">
    <div class="service-overview-content-wrap">
      <div class="row" data-equalizer>
        <%= render 'services/tabbed_sidebar' %>

        <%= render 'services/overview' %>
      </div>
    </div>

    <div class="row" data-equalizer="additional-content">
      <%= render 'services/content_tabs' %>
      <%= render 'services/activity_stream' %>
    </div>

    <%= render 'services/resources' %>

    <div class="row">
      <%= render 'services/people_helped' %>
      <%= render 'services/service_video' %>
    </div>
  </div>
</div>
