<section class="service-wrap">
  <div class="row">
    <div class="small-12 columns">
      <div class="department">
        Personal Legal Services
      </div>

      <div class="service-category-overview">
        <div class="row">
          <div class="small-12 medium-8 columns">
            <div class="service-category-overview-content">
              <h2 class="service-category-overview-header">About Family Law</h2>

              <div class="row">
                <div class="small-12 medium-4 columns">
                  <p class="service-category-overview-paragraph">At Harrison &amp; Campbell, we believe Family Law requires a very different approach to many other areas where we practise.</p>
                </div>

                <div class="small-12 medium-8 columns">
                  <div class="service-category-main-content">
                    <p>In our extensive experience, taking a less aggressive approach to handling family legal matters often achieves a far more positive outcome. Wherever possible, we want to minimise conflict and instead focus on mediation and communication between the parties.</p>

                    <p>Naturally, some cases need urgent and immediate action and where appropriate we shall not hesitate to go to court to defend and protect our clients’ interests.</p>

                    <p>Our team is sensitive to the emotional upheaval divorce, separation and financial disputes can cause.  We  always have your best interests at heart and advise you accordingly keeping you fully informe, up to date with developments and with any costs implications.  So with Tollers you will always know where you stand legally and financially.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="small-12 medium-4 columns">
            <%= image_tag 'http://placehold.it/438x499', class: 'service-category-image' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row collapse">
  <div class="small-12 medium-3 columns">
    <ul class="service-category-services">
      <li><%= link_to 'Divorce', '#', class: 'active' %></li>
      <li><%= link_to 'Divorce', '#' %></li>
      <li><%= link_to 'Divorce', '#' %></li>
      <li><%= link_to 'Divorce', '#' %></li>
      <li><%= link_to 'Divorce', '#' %></li>
      <li><%= link_to 'Divorce', '#' %></li>
    </ul>
  </div>

  <div class="small-12 medium-9 columns">
    <div class="row">
      <div class="small-12 medium-8 columns">
        <div class="service-overview-content">
          <h1>Divorce</h1>

          <p>
            Divorce is the legal process of ending a marriage and is only open to couples who have been married for more than a year. As the law stands, you must prove that your marriage has irretrievably broken down due to one of the following:
          </p>

          <ul>
            <li>
              Your spouse has committed adultery and you find it intolerable to live with them.
            </li>

            <li>
              Your spouse has behaved in a way that you can’t reasonably be expected to live with them.
            </li>

            <li>
              Your spouse has deserted you for more than two years.
            </li>

            <li>
              You have already lived apart for more than two years and your spouse consents to the divorce.
            </li>

            <li>
              You have lived apart continuously for more than five years.
            </li>
          </ul>

          <p>Before the court grants the final divorce paper, the Decree Absolute, they have to be satisfied that all arrangements for any children, such as housing, maintenance, residence and contact are acceptable.</p>

          <p>You can resolve other financial matters before or after Decree Absolute, but you’re only free to remarry after Decree Absolute.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>

          <%= link_to 'More on Divorce', '#', class: 'service-overview-read-more' %>
        </div>
      </div>

      <div class="small-12 medium-4 columns">
        <%= image_tag 'http://placehold.it/301x224' %>

        <hr />

        <div class="team-members-service-overview-link">
          <div class="row">
            <%= link_to '#' do %>
              <div class="small-12 medium-7 columns">
                <div class="team-members-service-overview-title">
                  Talk to our
                </div>

                <div class="team-members-service-overview-name">
                  family law team
                </div>
              </div>

              <div class="small-12 medium-5 columns text-center">
                <%= image_tag 'http://placehold.it/61x61' %>
              </div>
            <% end %>
          </div>
        </div>

        <ul class="service-overview-contact-methods">
          <li>
            <%= link_to '#', class: 'call-to-action-1' do %>
              Call Us At

              <div class="hide">
                <div class="call-to-action-content-title">London</div>
                <div class="call-to-action-content">020</div>
              </div>
            <% end %>
          </li>

          <li>
            <%= link_to '#', class: 'call-to-action-2' do %>
              Request a Callback
            <% end %>
          </li>

          <li>
            <%= link_to '#', class: 'call-to-action-3' do %>
              Email us
            <% end %>
          </li>

          <li>
            <%= link_to '#', class: 'call-to-action-4' do %>
              Our Offices
            <% end %>
          </li>

          <li>
            <%= link_to '#', class: 'call-to-action-5' do %>
              Download a leaflet
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
