<section class="service-wrap">
  <%= render 'shared/breadcrumbs' %>
  <%= render 'service_categories/header' %>
</section>

<div class="row">
  <div class="small-12 columns">
    <div class="service-overview-content-wrap"  data-animation-type='slideInLeft'>
      <div class="row" data-equalizer>
        <%= render 'services/tabbed_sidebar' %>

        <%= render 'services/overview' %>
      </div>
    </div>

    <div class="row" data-equalizer="additional-content">
      <%= render 'services/content_tabs' %>
      <%= render 'services/activity_stream' %>
    </div>

    <%= render 'services/resources' %>

    <div class="row">
      <%= render 'services/people_helped' %>
      <%= render 'services/service_video' %>
    </div>

    <%= render 'team_members/service_carousel' %>

    <div class="service-event-focus-wrap">
      <div class="row" data-equalizer="event-focus">
        <div class="medium-4 columns" data-equalizer-watch="event-focus">
          Placeholder
        </div>


        <%= render 'events/service_calendar' %>
      </div>
    </div>
  </div>
</div>

<% content_for :call_to_action do %>
  <ul class="service-overview-fixed-contact-methods" data-animation-type='slideInLeft' data-animation-delay='500'>
    <%= render 'services/contact_sidebar_content' %>
  </ul>
<% end %>
