<%= form_for(award) do |f| %>
<% if award.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(award.errors.count, "error") %> prohibited this award from being saved:</h2>

    <ul>
      <% award.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
            <div class="field">
        <%= f.label :link %><br>
        <%= f.text_field :link %>
      </div>
            <div class="field">
        <%= f.label :award_type %><br>
        <%= f.select :award_type, Award::AWARD_TYPES.map{|x| [x.humanize, x]} %>
      </div>
          <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
            <%= f.image_field :image %>

          <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
    <div class="field">
    <%= f.label :service_ids, "Services" %><br>
    <%= f.select :service_ids, grouped_options_for_select(Service.includes(:department).group_by(&:department).map{|x| ["#{x[0].name}", x[1].map{|y| [y.name, y.id]}]}, selected: f.object.services.pluck(:id)), {  }, { multiple: true, class: 'multiple-select' } %>
    </div>
          <div class="field">
            <%= f.label :in_footer %><br>
            <%= f.check_box :in_footer %>
          </div>
          <div class="field">
            <%= f.label :display %><br>
            <%= f.check_box :display %>
          </div>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
