<%= render 'optimadmin/shared/header/main_title', title: 'Manage Awards' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Award', object: Award, path: new_award_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <!--
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    -->
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @awards.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">

      <%= list_item 'large-1 hide-for-medium-down' do %>
        <%= link_to octicon('settings') %>
      <% end %>





      <%= list_item 'large-6 small-8' do %>

        Title
      <% end %>



    <%= list_item 'large-2 hide-for-medium-down' do 'Image' end %>


    <%= list_item { 'Display' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <div class='module-sortable' data-module="Award">
  <%= render partial: 'award', collection: @awards, as: :award_presenter %>
  </div>
  <%= paginate @awards %>
</div>
