<footer>
  <div class="row">
    <div class="small-12 columns">
      <h6>Awards &amp; Accreditations</h6>

      <div class="footer-awards-and-accreditations">
        <ul class="footer-awards-and-accreditations-list">
          <%= render partial: 'awards/award', collection: @presented_awards, as: :award_presenter %>
        </ul>
      </div>

      <ul class="footer navigation">
        <%= nested_menu_items(menu_items: @footer_menu.menu_items) %>
      </ul>

      <p class="footer-microcopy">
        &copy; 2015 <%= global_site_settings['Name'] %>. All Rights Reserved.
        Registered number <%= global_site_settings['Registered Number'] %>.
        Registered office <%= global_site_settings['Address'] %>.<br />
        A list of members may be inspected at our offices listed above. The term Partner
        means a member of <%= global_site_settings['Name'] %> or a senior employee of equivalent
        standing. <br />
        Authorised and Regulated by the Solicitors
        Regulation Authority (No <%= global_site_settings['SRA Number'] %>). VAT Number: <%= global_site_settings['VAT Number'] %>
      </p>
    </div>
  </div>
</footer>

<% if content_for?(:call_to_action) %>
  <%= yield :call_to_action %>
<% else %>
  <%= render 'shared/call_to_action'  %>
<% end %>

<%= yield :footer %>
