<div class="top">
  <% if @client_area.present? %>
    <div class="client-area-content hide" id="client-area-content">
      <%= @presented_client_area.content %>
    </div>

    <div class="client-area-toggle hide-for-small mobile-menu-items">
      <%= link_to @presented_client_area.title, '#client-area-content', class: 'toggle-class right', data: { container: '.client-area-content', class: 'hide', return: 'true', animation_type: 'slideInRight' } %>
    </div>
  <% end %>

  <div class="header">
    <%= link_to root_url, title: global_site_settings['Name'], class: 'logo left' do %>
      <%= image_tag 'layout/header/logo.png', alt: global_site_settings['Name'], width: 270, height: 48 %>
    <% end %>

    <div class="mobile-menu right show-for-small">
      <%= link_to '#menu', class: 'toggle-class', data: { container: '.mobile-menu-items', class: 'hide-for-small', return: 'false' } do %>
        <%= image_tag 'components/icons/menu-icon.png', alt: 'Menu' %>
      <% end %>
    </div>

    <ul class="hide-for-small mobile-menu-items secondary navigation right" data-animation-type="slideInRight">
      <%= nested_menu_items(menu_items: @header_aside_menu.menu_items) %>
    </ul>
  </div>

  <nav class="hide-for-small mobile-menu-items row">
    <div class="small-12 columns position-static">
      <ul class="primary navigation" id="navigation">
        <%= nested_menu_items(menu_items: @header_menu.menu_items) %>

        <li>
          <%= link_to '#pin', class: 'icon-based reveal-dropdown', title: 'Offices' do %>
            <%= image_tag 'components/navigation/pin.png', alt: 'Offices' %>
          <% end %>
          <div class="dropdown">
            <ul data-animation-type="slideInLeft">
              <%= render 'locations/navigation_location' %>
            </ul>
          </div>
        </li>

        <li>
          <%= link_to '#search', class: 'icon-based reveal-dropdown', title: 'Search' do %>
            <%= image_tag 'components/navigation/search.png', alt: 'Search' %>
          <% end %>
          <div class="dropdown">
            <%= render 'lawyer_searches/form' %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
