<div class="client-area-content hide" id="client-area-content">
  Content
</div>

<div class="client-area-toggle">
  <%= link_to 'Client Area', '#client-area-content', class: 'toggle-class right', data: { container: '.client-area-content', class: 'hide', return: 'true' } %>
</div>

<div class="header">
  <%= link_to root_url, title: global_site_settings['Name'], class: 'left' do %>
    <%= image_tag 'layout/header/logo.png', alt: global_site_settings['Name'] %>
  <% end %>

  <ul class="navigation right">
    <%= nested_menu_items(menu_items: @header_aside_menu.menu_items) %>
  </ul>
</div>

<nav class="row">
  <div class="small-12 columns">
    <ul class="primary navigation">
      <%= nested_menu_items(menu_items: @header_menu.menu_items) %>
    </ul>
  </div>
</nav>
